body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }



input, .row {
 width: 80%;
 text-align: left;
 padding-left: 1rem;
 background: white;
 border-right: 1px solid lightgrey;
 border-top: 1px solid lightgrey;
 font-size: 14px;

}

button {
  width: 10%;
  text-align: center;
  padding-top: 1.5rem;
  border-radius: 4px;
  background: #36a6cf;
}


