body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }

.container {
  width: 10%;
  text-align: right;
  height: 2rem;
  padding:1rem;
  border-right: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
}

.row {
  width: 80%;
  text-align: left;
  padding-left: 1rem;
  padding-top: 1rem;
  background: lightblue;
  border-right: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  font-size: 14px;
}

.saveBtn col {
  width: 10%;
  text-align: center;
  padding-top: 1.5rem;
  border-radius: 4px;
  background: #36a6cf;
  border-bottom: 1px solid lightgrey;
  cursor: pointer;
}

.event col-9 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background: white;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0, .75);
  margin-bottom: 3rem;
}

.fas fa-save {
  display: flex;
}